/CodigosVarios/nbproject/private/
/CodigosVarios/build/
/Herencia/nbproject/private/
**DS_Store
/Herencia/build/
/ArgumentosVariables/build/
/ArgumentosVariables/nbproject/private/
/Enumeraciones/build/
/Enumeraciones/nbproject/private/
/BloquesInicializacion/build/
/BloquesInicializacion/nbproject/private/
/ConversionObjetos/build/
/ClasesAbstractas/build/
/ClasesAbstractas/nbproject/private/
/JavaBeans/build/
/JavaBeans/nbproject/private/
